*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --jumbotron-bg : #B4D0E7;
  --btn-blue : #0260FB;
  --btn-l-blue : #3b85fc;
  --designit-bg : #A2D39B;
  --designit-border : #D0E9CD;
  --uf-bg : #3393CE;
  --asu-bg : #621A2B;
  --topps-bg : #ED462F;
  --central-reader-bg : #F5F5F5;
  --wbr-bg : #D63E2A;
  --hearst-bg : #B4D0E6;
  --lp-bg : #0D2481;
  --clear-c-bg : #FDD833;
  --banner-bg : #B4D0E7;
  --banner-font : #5C160C;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

.debug {
  /* width: 100%; */
  background-color: aqua;
  border: 1px solid black;
}

.debug-2 {
  height: 300px;
  background-color: brown;
  border: 1px solid black;
}

.d-flex {
  display: flex;
}

.container-small{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 150px 0;
}

.container-big{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--btn-blue);
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--btn-l-blue);
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 80px;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid lightgray;
}


header .h-left,
header .h-right {
  /* width: calc(100% / 3); */
  align-items: center;
  /* flex-wrap: wrap; */
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
}

header nav a{
  display: inline-block;
  height: 70px;
  padding: 0 20px;
  line-height: 80px;
  color: black;
  background-color: white;
  text-decoration: none;
}

header nav a:hover {
  border-bottom: 2px solid black;
}

/* header .h-left div,
header .h-right div {
  flex-basis: calc(100% /4);
} */


/* main */

main {
  padding-top: 80px;
}

/* jumbotron */

.jumbotron {
  width: 100%; /*debug*/
  background-color: var(--jumbotron-bg);
}

.jumbotron .title {
  display: block;
  padding: 40px 0;
  font-size: 4rem;
  font-weight: bold;
}

.jumbotron .image {
  float: right;
  width: 800px;
}

.jumbotron .image img{
  width: 100%;
  object-fit: cover;
}

.jumbotron .btn {
  margin: 30px 0;
}

.jumbotron .icon {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 3rem;
}

/* plans-check */

main .title {
  font-size: 1.8rem;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 50px;
}
main .check {
  align-items: center;
}

main .check-circle {
  display: inline-block;
  margin-right: 5px;
}

main .check span {
  margin-right: 5px;
}

main .ext-circle{
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  border: 1px solid lightgrey;
  cursor: pointer;
  
}

main .inner-circle {
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

main .ext-circle:hover {
  background-color: var(--btn-blue);
}

main .ext-circle:hover .inner-circle {
  display: block;
}

/* plans-col */

main .basic-plans {
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  padding: 50px 0;
}

/* col-title */

main .col {
  flex-basis: 33%;
  border: 1px solid lightgray;
}

main .col-title {
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 1px solid lightgrey;
}

main .col-title span {
  padding-left: 5px;
}

/* col-info */

main .col-info .title {
  font-weight: bold;
  padding: 40px 0 20px 30px;

}

main .col-info .price {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 0 20px 30px;
}

main .col-info .billing {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0 0 50px 30px;
  color: grey;
}

/* footer */
footer{
  background-color: black;
  color: white;
}

footer .menu{
  width: 100%;
  padding: 50px 0;
}

footer .menu .col{
  flex-basis: 20%;
}

footer .menu .col .title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 20px;
}

footer nav ul {
  list-style: none;
}

footer nav ul li {
  padding-bottom: 10px;
}
footer nav ul a {
 text-decoration: none;
 color: white;
}

footer .language {
  display: inline-block;
  padding: 50px 0;
  border-top: 1px solid white;
}

footer .language span {
  padding-right: 5px;
}