*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

:root{
  --jumbotron-bg : #B4D0E7;
  --btn-blue : #0260FB;
  --btn-l-blue : #3b85fc;
  --designit-bg : #A2D39B;
  --designit-border : #D0E9CD;
  --uf-bg : #3393CE;
  --asu-bg : #621A2B;
  --topps-bg : #ED462F;
  --central-reader-bg : #F5F5F5;
  --wbr-bg : #D63E2A;
  --hearst-bg : #B4D0E6;
  --lp-bg : #0D2481;
  --clear-c-bg : #FDD833;
  --banner-bg : #B4D0E7;
  --banner-font : #5C160C;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  scroll-behavior: smooth;
}

.debug {
  background-color: aqua;
  border: 1px solid black;
}

.debug-2 {
  background-color: brown;
  border: 1px solid black;
}

.d-flex {
  display: flex;
}

.container-small{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}

.container-big{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--btn-blue);
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--btn-l-blue);
  padding: 10px 25px;
}

.btn.blank.border {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn.blank {
  background-color: white;
  color: black;
}

.btn.blank:hover {
  background-color: rgb(246, 246, 246);
}

.big-square{
  width: calc(100% /3);
  height: calc(100vw /3);
  /* align-content: flex-start; */
  flex-wrap: wrap;
}

.small-square{
  width: calc(100% /2);
  height: calc(100vw /6);
  align-items: center;
  justify-content: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.breakline{
  width: 50px;
  border-top: 1px solid lightgray;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 80px;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid lightgray;
}


header .h-left,
header .h-right {
  align-items: center;
  flex-wrap: nowrap;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
}

header nav a{
  display: inline-block;
  height: 78px;
  padding: 0 20px;
  line-height: 78px;
  color: black;
  background-color: white;
  text-decoration: none;
}

header nav a:hover {
  border-bottom: 2px solid black;
}

/* header .h-left div,
header .h-right div {
  flex-basis: calc(100% /4);
} */


/* main */

main {
  padding-top: 80px;
}

/* jumbotron */

.jumbotron {
  width: 100%; /*debug*/
  background-color: var(--jumbotron-bg);
}

.jumbotron .title {
  display: block;
  padding: 40px 0;
  font-size: 4rem;
  font-weight: bold;
}

.jumbotron .image {
  float: right;
  width: 800px;
}

.jumbotron .image img{
  width: 100%;
  object-fit: cover;
}

.jumbotron .btn {
  margin: 30px 0;
}

.jumbotron .icon {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 3rem;
}

/* plans */

main .plans {
  padding-top: 150px;
}

/* plans-check */

main .main-title {
  font-size: 1.8rem;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 50px;
}
main .check {
  align-items: center;
}

main .check-circle {
  display: inline-block;
  margin-right: 5px;
}

main .check span {
  margin-right: 5px;
}

main .ext-circle{
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  border: 1px solid lightgrey;
  cursor: pointer;
  transition: all 0.3s;
  
}

main .inner-circle {
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

main .ext-circle:hover {
  background-color: var(--btn-blue);
}

main .ext-circle:hover .inner-circle {
  display: block;
}

/* plans-col */

/* TODO: provare a mettere tutto il contenuto delle info in un div a cui dare padding e dare margin o padding 0 a tutti gli elementi  */

main .basic-plans {
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0;
}

main .col {
  min-width: 230px;
  flex-basis: 30%;
  border: 1px solid lightgray;
}

main .col-info-top,
.col-info-mid,
.col-info-bottom {
  padding-left: 30px;
}

/* col-title */

main .col-title,
main .enterprise .title {
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 1px solid lightgrey;
}

main .col-title span,
main .enterprise .title span {
  padding-left: 5px;
}

/* col-info-top */

main .col-info-top .title {
  font-weight: bold;
  padding: 40px 0 20px 0;

}

main .col-info-top .price {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 0 20px 0;
}

main .col-info-top .billing {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0 0 50px 0;
  color: grey;
}

/* col-info-mid */

main .mid-list,
main .bottom-list {
  /* FIXME: centrare */
  padding: 0 30px 50px 0;
  font-size: 0.9rem;
}

main .mid-list li,
main .bottom-list li {
  padding: 10px 0;
}

main .col-info-mid .btn {
  /* FIXME: centrare */
}

main .col-info-mid .buy {
  display: inline-block;
  padding: 50px 0;
}



/* col-info-bottom */

main .col-info-bottom {
  padding-top: 50px;
}

main .col-info-bottom .title {
  font-size: 1rem;
  padding-bottom: 30px;
}

main .bottom-list .fa-li {
  color: var(--btn-blue);
}

/* enterprise */

main .enterprise .row {
  width: 100%;
  border: 1px solid lightgray;
}

main .enterprise .title span {
  font-size: 1rem;
  font-weight: 400;
}

main .enterprise .text {
  padding: 30px;
}

main .enterprise .text .description {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 20px;

}
main .enterprise .text a,
main .cta a{
  float: right;
}

main .enterprise .text .contact {
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 50px;
}

main .enterprise .text .info {
  max-width: 600px;
}

/* contacts */

main .contacts {
  align-items: center;
  justify-content: space-between;
}

main .contacts .image {
  flex-basis: 60%;
  margin-right: 50px;
}

main .contacts .image img {
  width: 100%;
  object-fit: cover;
}

main .contacts .text {
  flex-basis: 40%;
}

main .contacts .text .title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 20px;
}

main .contacts .text a {
  margin-top: 20px;
}
main .contacts .text p {
  text-align: justify;
}

/* info-cards */

main .card-container {
  row-gap: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .card-container .card {
  flex-basis: 30%;
  min-width: 300px;
  flex-direction: column;
}

main .card .image {
  flex-basis: 40%;
}

main .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .card .title {
  font-weight: bold;
  padding: 20px 0;
}

/* clients */

main .clients h1 {
  font-size: 3rem;
  padding-bottom: 50px;
}

/* squares */
#designit-sq {
  position: relative;
  background-color: var(--designit-bg);
}

#asu-sq {
  position: relative;
  background-color: var(--asu-bg);
}

#uf-sq {
  position: relative;
  background-color: var(--uf-bg);
}

#topps-sq {
  position: relative;
  background-color: var(--topps-bg);
}

#central-reader {
  overflow: auto;
  padding: 50px;
  background-color: var(--central-reader-bg);
}

#wbr-sq{
  position: relative;
  background-color: var(--wbr-bg);
}

#hearst-sq {
  position: relative;
  background-color: var(--hearst-bg);
}

#lp-sq {
  position: relative;
  background-color: var(--lp-bg);
}

#clear-c-sq {
  position: relative;
  background-color: var(--clear-c-bg);
}

main .squares svg {
  width: 50%;
  fill: white;
}

main .squares .logo {
  /* height: 150px */
}

main .squares .logo svg {
  fill: black;
}

main .squares .breakline {
  margin-bottom: 30px;
}

main .squares p {
  display: inline-block; 
  margin-bottom: 30px;
}

/* cta */

main .cta{
  background-color: var(--jumbotron-bg);
}

main .cta .container-small div {
  display: inline-block;
  width: 60%;
  font-size: 3rem;
  font-weight: bold;
  color: var(--banner-font);
}

main .faq .question {
  font-weight: bold;
  padding: 20px 0;
}



/* accordion */

main .accordion h1 {
  display: block;
  font-size: 2rem;
  text-transform: capitalize;
  padding-bottom: 50px;
  border-bottom: 1px solid grey;
  
}

main .faq {
  border-bottom: 1px solid grey;
}

main .faq .arrow {
  float: right;
}

main .faq p {
  display: none;
  padding-bottom: 30px;
}

main .faq .arrow,
main .faq p {
  transition: all 0.1s;
}

main .faq:hover p {
  display: block;
}
main .faq:hover .arrow {
  transform: rotate(180deg);
}

/* footer */
footer{
  background-color: black;
  color: white;
}

footer .menu{
  width: 100%;
  padding: 50px 0;
}

footer .menu .col{
  flex-basis: 20%;
}

footer .menu .col .title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 20px;
}

footer nav ul {
  list-style: none;
}

footer nav ul li {
  padding-bottom: 10px;
}
footer nav ul a {
 text-decoration: none;
 color: white;
}

footer .language {
  display: inline-block;
  padding: 50px 0;
  border-top: 1px solid white;
}

footer .language span {
  padding-right: 5px;
}