*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --jumbotron-bg : #B4D0E7;
  --btn-blue : #0260FB;
  --designit-bg : #A2D39B;
  --designit-border : #D0E9CD;
  --uf-bg : #3393CE;
  --asu-bg : #621A2B;
  --topps-bg : #ED462F;
  --central-reader-bg : #F5F5F5;
  --wbr-bg : #D63E2A;
  --hearst-bg : #B4D0E6;
  --lp-bg : #0D2481;
  --clear-c-bg : #FDD833;
  --banner-bg : #B4D0E7;
  --banner-font : #5C160C;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.debug {
  /* width: 100%; */
  background-color: aqua;
  border: 1px solid black;
}

.debug-2 {
  height: 80px;
  background-color: brown;
  border: 1px solid black;
}

.d-flex {
  display: flex;
}

.container-small{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.container-big{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--btn-blue);
  color: white;
  text-decoration: none;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 80px;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid lightgray;
}


header .h-left,
header .h-right {
  /* width: calc(100% / 3); */
  align-items: center;
  /* flex-wrap: wrap; */
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
}

header nav a{
  display: inline-block;
  height: 70px;
  padding: 0 20px;
  line-height: 80px;
  color: black;
  background-color: white;
  text-decoration: none;
}

header nav a:hover {
  border-bottom: 2px solid black;
}

/* header .h-left div,
header .h-right div {
  flex-basis: calc(100% /4);
} */


/* main */

main {
  padding-top: 80px;
}

.jumbotron {
  width: 100%; /*debug*/
  background-color: var(--jumbotron-bg);
}

.jumbotron .title {
  display: block;
  padding: 40px 0;
  font-size: 4rem;
  font-weight: bold;
}

.jumbotron .image {
  float: right;
  width: 800px;
}

.jumbotron .image img{
  width: 100%;
  object-fit: cover;
}

.jumbotron .btn {
  margin: 30px 0;
}

.jumbotron .icon {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 3rem;
}